<script type="text/javascript">
  function initMap() {
    var walkStops = [
    {% for post in site.posts %}
      ["{{post.title}}", {{post.lat}}, {{post.lon}}, "{{post.url}}", "tree"],
    {% endfor %}
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      center: new google.maps.LatLng({{site.main_map.lat}}, {{site.main_map.lon}}),
      zoom: 17,
      disableDefaultUI: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var walkPathPolyLine = [];
    for (i = 0; i < walkStops.length; i++) {
      walkPathPolyLine.push({
        'lat': walkStops[i][1],
        'lng': walkStops[i][2],
      });
    }

    // create a new polyline using the coordinates array, and add it to the map
    var walkPath = new google.maps.Polyline({
      path: walkPathPolyLine,
      geodesic: true,
      strokeColor: '#0000FF',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
    walkPath.setMap(map);

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    const svgMarker = {
      path: "m18.002 33.5h0.89445v0.81514h-0.89445zm7.7413-6.5644h-15.279l7.6371-11.12zm-3.7656-10.52h-7.918l3.9576-4.7725zm-4.9172-8.0828 0.87301-0.81237 0.87607 0.814z",
      fillColor: "red",
      fillOpacity: 1.0,
      rotation: 0,
      scale: 1,
      anchor: new google.maps.Point(16, 16),
    };

    for (i = 0; i < walkStops.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(walkStops[i][1], walkStops[i][2]),
        icon: svgMarker,
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent("<a href='" + walkStops[i][3] + "'>" + walkStops[i][0] + "</a>");
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }
</script>
