<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{ site.short_title }}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ site.baseurl }}/">{{ site.home_title }}</a>
    <a class="mdl-navigation__link" href="{{ site.play_store_url }}">
      <img src="/assets/images/Google_Play_Store_badge_EN.svg">
    </a>
    {% for post in site.posts reversed %}
      {% if post.title %}
        <a class="mdl-navigation__link" href="{{ post.url | relative_url }}">{{ forloop.index }}. {{ post.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</div>
