footer {
  .mdl-mini-footer__link-list {
    flex-flow: row wrap;

    & a {
      cursor: pointer;
      transition: color .2s ease-in;
      &:hover {
        color: #fff;
      }
    }
  }

  .logo-in-menu {
    height: 24px;
    min-width: 144px;
  }

  .copyright {
    margin-top: $spacing-unit;
  }
}
