iframe { border: 0; }

/* MOBILE */
@media screen and (max-width: $on-mobile) {
  iframe {
    height: 240px;
  }
}
/* DESKTOP */
@media screen and (min-width: $on-mobile) {
  iframe {
    height: 400px;
    width: 700px;
    margin: 1rem auto;
    display: block;
  }
}
