---
layout: default
---
{% if page.lang %}
  {% assign navlang = page.lang %}
{% else %}
  {% assign navlang = site.locale %}
{% endif %}

<div class="post mdl-shadow--2dp">
  {% assign stop = site.data.stops[page.stop] %}
  <header class="post-header">
    {% assign one_based_index = page.stop | plus: 1 %}
    <h1 class="post-title">{{ one_based_index }}. {{ page.title }}</h1>
    <div class="post-subtitle">
      {% if page.alternate_names %}
        <p class="post-subtitle">
          {{ site.data.messages.locales[navlang].alternate_names_title }}: {{ page.alternate_names }}
        </p>
      {% endif %}
      {% if stop.scientific_name %}
        <p class="post-subtitle">
          {{ site.data.messages.locales[navlang].scientific_name_title }}: {{ stop.scientific_name }}
        </p>
      {% endif %}
      {% if stop.scientific_alternates %}
        <p class="post-subtitle">
          {{ site.data.messages.locales[navlang].scientific_alternates_title }}: {{ stop.scientific_alternates }}
        </p>
      {% endif %}
      {% if stop.height or stop.width %}
        <p class="post-subtitle">
          {% if stop.height %}{{ site.data.messages.locales[navlang].height_title }}: {{ stop.height }}'{% endif %}
          {% if stop.height and stop.width %},{% endif %}
          {% if stop.width %}{{ site.data.messages.locales[navlang].width_title }}: {{ stop.width }}'{% endif %}
        </p>
      {% endif %}

      <p class="post-subtitle">
        {{ site.data.messages.locales[navlang].drought_tolerant }}: {% if stop.drought_tolerant %}<span class="material-icons good">check</span> {{ site.data.messages.locales[navlang].yes_text }}{% else %}<span class="material-icons error">clear</span> {{ site.data.messages.locales[navlang].no_text }}{% endif %}
      </p>

      <p class="post-subtitle">
        {{ site.data.messages.locales[navlang].climate_action }}: {% if stop.climate_action %}<span class="material-icons good">check</span> {{ site.data.messages.locales[navlang].yes_text }}{% else %}<span class="material-icons error">clear</span> {{ site.data.messages.locales[navlang].no_text }}{% endif %}
      </p>

      {% if page.native_to %}
        <p class="post-subtitle">
          {{ site.data.messages.locales[navlang].native_to }}: {{ page.native_to }}
        </p>
      {% endif %}

      {% if page.fun_fact %}
        <p class="post-subtitle">
          {{ site.data.messages.locales[navlang].fun_fact }}: {{ page.fun_fact }}
        </p>
      {% endif %}

      {% if stop.wiki %}
        <p class="post-subtitle">
          <a href="{{ stop.wiki }}">{{ site.data.messages.locales[navlang].wikipedia_url_title }}</a>
        </p>
      {% endif %}
      {% if stop.extra_url %}
        <p class="post-subtitle">
          <a href="{{ stop.extra_url }}">{{ site.data.messages.locales[navlang].extra_url_title }}</a>
        </p>
      {% endif %}
    </div>
  </header>
  <article class="post-content">
    <div style="text-align:justified">
      {{ page.content }}
    </div>
    {% if stop.image_url %}
      <hr>
      {% if stop.is_image_360 %}
      <div style="text-align:justified">
        <i class="fa fa-camera"></i> {{ site.data.messages.locales[navlang].vr_camera_instructions }}
      </div>
      {% endif %}
      <div style="text-align:center">
        {% if stop.is_image_360 %}
        <iframe
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="{{ site.baseurl }}/assets/vrview/index.html?image={{ site.baseurl }}/assets/images/{{ stop.image_url }}&is_stereo=false{% if stop.default_yaw %}&default_yaw={{ stop.default_yaw }}{% endif %}">
        </iframe>
        {% else %}
        <img
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="{{ site.baseurl }}/assets/images/{{ stop.image_url }}" />
        {% endif %}
      </div>
    {% endif %}
    {% if stop.youtube_id %}
      <hr>
      <div style="text-align:justified">
        <i class="fa fa-video-camera"></i> {{ site.data.messages.locales[navlang].vr_video_instructions }}
      </div>
      <div style="text-align:center">
        <iframe
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="https://www.youtube.com/embed/{{ stop.youtube_id }}">
        </iframe>
      </div>
    {% endif %}
    <hr>
    <div id="map" style="text-align:center"></div>
  </article>
</div>
