---
layout: default
---
<div class="post mdl-shadow--2dp">
  {% assign stop = site.data.stops[page.index] %}
  <header class="post-header">
    {% assign one_based_index = page.index | plus: 1 %}
    <h1 class="post-title">{{ one_based_index }}. {{ page.title }}</h1>
    <div class="post-subtitle">
      {% if page.alternate_names %}
        <p class="post-subtitle">
          {{ site.alternate_names_title }}: {{ page.alternate_names }}
        </p>
      {% endif %}
      {% if stop.latin_name %}
        <p class="post-subtitle">
          {{ site.latin_name_title }}: {{ stop.latin_name }}
        </p>
      {% endif %}
      {% if stop.latin_alternates %}
        <p class="post-subtitle">
          {{ site.latin_alternates_title }}: {{ stop.latin_alternates }}
        </p>
      {% endif %}
      {% if stop.height or stop.width %}
        <p class="post-subtitle">
          {% if stop.height %}{{ site.height_title }}: {{ stop.height }}'{% endif %}
          {% if stop.height and stop.width %},{% endif %}
          {% if stop.width %}{{ site.width_title }}: {{ stop.width }}'{% endif %}
        </p>
      {% endif %}
      {% if stop.wiki %}
        <p class="post-subtitle">
          <a href="{{ stop.wiki }}">Wikipedia URL</a>
        </p>
      {% endif %}
      {% if stop.extra_url %}
        <p class="post-subtitle">
          <a href="{{ stop.extra_url }}">{{ site.extra_url_title }}</a>
        </p>
      {% endif %}
    </div>
  </header>
  <article class="post-content">
    <div style="text-align:justified">
      {{ page.content }}
    </div>
    {% if stop.image_url %}
      <hr>
      {% if stop.is_image_360 %}
      <div style="text-align:justified">
        <i class="fa fa-camera"></i> {{ site.vr_camera_instructions }}
      </div>
      {% endif %}
      <div style="text-align:center">
        {% if stop.is_image_360 %}
        <iframe
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="{{ site.baseurl }}/assets/vrview/index.html?image={{ site.baseurl }}/assets/images/{{ stop.image_url }}&is_stereo=false{% if stop.default_yaw %}&default_yaw={{ stop.default_yaw }}{% endif %}">
        </iframe>
        {% else %}
        <img
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="{{ site.baseurl }}/assets/images/{{ stop.image_url }}">
        </img>
        {% endif %}
      </div>
    {% endif %}
    {% if stop.youtube_id %}
      <hr>
      <div style="text-align:justified">
        <i class="fa fa-video-camera"></i> {{ site.vr_video_instructions }}
      </div>
      <div style="text-align:center">
        <iframe
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="https://www.youtube.com/embed/{{ stop.youtube_id }}">
        </iframe>
      </div>
    {% endif %}
    <hr>
    <div id="map" style="text-align:center"></div>
  </article>
</div>
