---
layout: default
---
<div class="post mdl-shadow--2dp">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <article class="post-content">
    <div style="text-align:justified">
      {{ page.content }}
    </div>
    {% if page.image_url %}
      <hr>
      {% if page.is_image_360 %}
      <div style="text-align:justified">
        <i class="fa fa-camera"></i> On mobile devices click on the cardboard icon to use a VR headset to look around
      </div>
      {% endif %}
      <div style="text-align:center">
        {% if page.is_image_360 %}
        <iframe
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="{{ site.baseurl }}/assets/vrview/index.html?image={{ site.baseurl }}/assets/images/{{ page.image_url }}&is_stereo=false{% if page.default_yaw %}&default_yaw={{ page.default_yaw }}{% endif %}">
        </iframe>
        {% else %}
        <img
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="{{ site.baseurl }}/assets/images/{{ page.image_url }}">
        </img>
        {% endif %}
      </div>
    {% endif %}
    {% if page.youtube_id %}
      <hr>
      <div style="text-align:justified">
        <i class="fa fa-video-camera"></i> Look around with directional swipe gestures on touch screens,
        or use the top-left Google Street View like controls of the YouTube video. Use cardboard or VR headsets if available for more immersive experience.
      </div>
      <div style="text-align:center">
        <iframe
          frameborder="0"
          width="100%"
          scrolling="no"
          allowfullscreen
          src="https://www.youtube.com/embed/{{ page.youtube_id }}">
        </iframe>
      </div>
    {% endif %}
    <hr>
    <div id="map" style="text-align:center"></div>
  </article>
</div>
